In [1]:
import numpy as np 
import pandas as pd
import glob

In [2]:
from pycaret.classification import *

In [3]:
my_data = pd.read_csv("Classifi_decom_data.csv")
my_data.head()

    Entropy  Anisotropy      Alpha  ClassID Class_name
0  0.802243    0.511247  24.109398        1        ASK
1  0.783197    0.534009  24.449989        1        ASK
2  0.771204    0.547740  23.534164        1        ASK
3  0.814251    0.496232  24.446283        1        ASK
4  0.846771    0.452534  28.770714        1        ASK

In [4]:
my_data.drop(['ClassID'], axis = 1, inplace = True)

In [5]:
my_data.head()

    Entropy  Anisotropy      Alpha Class_name
0  0.802243    0.511247  24.109398        ASK
1  0.783197    0.534009  24.449989        ASK
2  0.771204    0.547740  23.534164        ASK
3  0.814251    0.496232  24.446283        ASK
4  0.846771    0.452534  28.770714        ASK

In [6]:
cls_decom = setup(my_data, target = 'Class_name',train_size = 0.7,session_id=123,log_experiment=True, experiment_name='cls_decom')

2023/01/20 12:00:22 INFO mlflow.tracking.fluent: Experiment with name 'cls_decom' does not exist. Creating a new experiment.
2023/01/20 12:00:22 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

In [7]:
best_model = compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]