In [1]:
import numpy as np 
import pandas as pd
import glob

In [2]:
from pycaret.classification import *

In [3]:
my_data = pd.read_csv("Classifi_backsc_data.csv")
my_data.head()

          VV         VH     VV-VH  ClassID Class_name
0 -19.127264 -26.148289  7.021025        1        ASK
1 -17.905613 -27.497355  9.591742        1        ASK
2 -15.280186 -22.360802  7.080616        1        ASK
3 -14.594241 -20.822491  6.228250        1        ASK
4 -14.800154 -19.735399  4.935246        1        ASK

In [4]:
my_data.drop(['ClassID'], axis = 1, inplace = True)

In [5]:
my_data.head()

          VV         VH     VV-VH Class_name
0 -19.127264 -26.148289  7.021025        ASK
1 -17.905613 -27.497355  9.591742        ASK
2 -15.280186 -22.360802  7.080616        ASK
3 -14.594241 -20.822491  6.228250        ASK
4 -14.800154 -19.735399  4.935246        ASK

In [6]:
cls_bcks = setup(my_data, target = 'Class_name',train_size = 0.7,session_id=123,log_experiment=True, experiment_name='cls_bcks')

2023/01/20 11:58:33 INFO mlflow.tracking.fluent: Experiment with name 'cls_bcks' does not exist. Creating a new experiment.
2023/01/20 11:58:33 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

In [7]:
best_model = compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]